.loader {
  position: relative;
  width: 200px;
  height: 30px;
  text-align: center;
}

.loader .dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #80DEEA;
  box-shadow: 0px 0px 8px #80deea;
  display: inline-block;
  border: 1px solid #66b0b9;

  /*animation-name: fadeup;
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;*/
}

.loader .dot:nth-child(2) {
  margin: 0px 20px;
  animation-delay: .15s;
}

.loader .dot:nth-child(3) {
  animation-delay: .3s;
}


@keyframes fadeup {
  0% {
    transform: translateY(0px);
    opacity: .5;
  }
  70% {
    transform: translateY(-30px);
    opacity: 1
  }
  100% {
    transform: translateY(-60px);
    opacity: 0;
  }
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 200px;
  height: 30px;
}
