.loader {
  width: 100px;
  height: 115px;
  border: 1px solid #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.cube, .dot {
  border-radius: 3px;
  background-color: #FFF;
}
.dot {
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 0;
  background-color: #000;
  left: -7.5px;
}
.dot:last-child {
  left: 92.5px;
}
.cube {
  width: 100px;
  height: 100px;
}

#animation {
  background-color: #1a6aaf;
}
